<h1>Biography</h1>
<div>
Jean-Michel Bruel est Professeur des Universités à
l'<a href="http://www.univ-toulouse.fr/">Université de Toulouse</a> depuis 2008.
Il est membre de l'équipe <a href="http://www.irit.fr/-Equipe-MACAO-">MACAO</a>
(Models, Architectures, Components, Agility and prOcesses) de l'Institut de
Recherche en Informatique de Toulouse (<a href="http://www.irit.fr/">IRIT</a>,
UMR CNRS 5505).
Il a obtenu son doctorat informatique de l'<a
 href="http://www.ups-tlse.fr">Université
Paul Sabatier</a> (Toulouse) en
décembre 1996.
De septembre 1997 à août 2008, il a été Maître de Conférences à l'<a
 href="http://www.univ-pau.fr">Université de Pau et des Pays de l'Adour</a>.
Ses recherche portent sur le Génie Logiciel et plus particulièrement l'utilisation des
techniques d'Ingénierie des Modèles (IDM) pour le développement des systèmes
distribués complexes.
Il a défendu son "<a href='http://www.irit.fr/~Jean-Michel.Bruel/HdRBruel2006/hdr2006.pdf'>Habilitation
à Diriger des Recherches</a>" en décembre 2006.
Il est également l'un des co-fondateurs de l'association SysML-France.
</div>
